body > hr{
    display: block;
}

.main__secondpage {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 10px;
}

.secondpage__graphimg {
    align-self:flex-end;
    margin-right: 10px;
}

.secondpage__graphimg img{
    box-shadow: -2px 2px 30px 5px rgb(108, 11, 128);
}

.main__secondpage > section {
    color: white;
    padding: 10px;
}

.main__secondpage > section > article {
    display: flex; 
    flex-direction: column;
}

.main__secondpage > section > article :first-child {
    text-transform: uppercase;
    font-weight: bold;
    align-self: flex-start;
    margin-bottom: 10px;
    text-shadow:  0 0 10px white;
}

.main__secondpage > section > article > h2 {
    font-weight: 500;
    text-shadow:  0 0 10px white;
    align-self: center;
    margin-bottom: 10px;
}

.main__secondpage > section > article :last-child {
    margin-top: 10px;
}

.secondpage__displayimg img {
    box-shadow: -2px 2px 30px 5px rgb(94, 10, 110);

}

.secondmainpage {
    color: white;
    display: flex;
    flex-direction: column;
}

.secondmainpage > h2 {
    align-self: center;
    font-weight: 500;
    text-shadow:  0 0 10px white;
    margin-top: 20px;
}

.textandphoneimg__versatileandtransparent {
    display: flex;
    font-size: 10px;
    margin-bottom: 5%;
    text-align: center;
}

.secondmainpage h4 {
    text-shadow:  0 0 10px white;
    font-weight: bold;
    font-size: 12px;
    margin-top: 5%;
}

.secondmainpage p {
    font-weight: 500;
    font-size: 10px;
}

.textandphoneimg_centerphoneimg {
    display: flex;
    justify-content: center;
}

.textandphoneimg_centerphoneimg > img {
    width: 40%;
    background: transparent;
    border: solid white 2px;
    border-radius: 40px;
    box-shadow: 0 0 15px 5px rgb(108, 11, 128);
}

.textandphoneimg_easyuseandrealtime {
    display: flex;
    font-size: 10px;
    margin-bottom: 5%;
    margin-top: 5%;
    text-align: center;
}
